---

---

<div id="hero" class="">
  <div class="min-h-screen flex justify-center items-center flex-col">
    <h1 class="text-7xl text-white mb-5">HCI York</h1>
    <h5 class="text-5xl text-gray-500">Bespoke solutions and beautiful websites.</h5>
  </div>
</div>